In [1]:
import pandas as pd

# Reading Data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0  100.864305         1   90          0           1              1
1   98.044908         1   70          1          -1              0
2  101.718605         1   33          1           1              0
3   98.753340         1   59          0           1              0
4   99.071339         0    2          0          -1              0

In [4]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0  100.864305         1   90          0           1              1
1   98.044908         1   70          1          -1              0
2  101.718605         1   33          1           1              0
3   98.753340         1   59          0           1              0
4   99.071339         0    2          0          -1              0

In [5]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2544   98.610753         1   49          1          -1              0
2545   98.925755         1   40          0           1              1
2546  100.986690         0   45          0           1              1
2547   98.013096         1   36          0           1              1
2548  101.827616         1   83          1           1              1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2549 entries, 0 to 2548
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2549 non-null   float64
 1   bodyPain       2549 non-null   int64
 2   age            2549 non-null   int64
 3   runnyNose      2549 non-null   int64
 4   diffBreath     2549 non-null   int64
 5   infectionProb  2549 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 119.5 KB

In [7]:
df['diffBreath'].value_counts()

 1    872
 0    847
-1    830
Name: diffBreath, dtype: int64

In [8]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2549.000000,2549.000000,2549.000000,2549.000000,2549.000000,2549.000000
mean,100.007441,0.506865,50.204786,0.493527,0.016477,0.513927
std,1.145069,0.500051,28.701702,0.500056,0.817131,0.499904
min,98.000788,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.045389,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,100.013711,1.000000,49.000000,0.000000,0.000000,1.000000
75%,101.011226,1.000000,75.000000,1.000000,1.000000,1.000000
max,101.996221,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [9]:
import numpy as np

In [10]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [11]:
train, test = data_split(df, 0.2)

train

In [12]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
522   100.495693         0    6          1           0              0
1199  101.441623         1   61          1           1              1
1338  100.648059         0    9          0          -1              0
1613   98.665215         0   17          0           1              1
2232  100.321239         0   90          0          -1              1
...          ...       ...  ...        ...         ...            ...
1638   98.114833         0   21          0          -1              1
1095  101.907233         1   90          1           0              0
1130   99.534794         0   43          1           0              1
1294   99.401644         1   20          0           1              0
860   101.395961         1   11          0          -1              0

[2040 rows x 6 columns]

In [13]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
56     98.663009         1   25          0           0              0
194   100.052396         1   97          1          -1              0
1832  101.608775         1   28          0           1              0
233    99.682183         0   62          0          -1              1
572    99.737199         1   29          1          -1              1
...          ...       ...  ...        ...         ...            ...
2153   98.360125         1   32          0           0              1
2210  100.896010         0   96          0           0              0
2035  100.518238         1   93          1          -1              0
1913   99.087441         1   84          1          -1              1
840    99.795780         1   27          0           1              0

[509 rows x 6 columns]

In [14]:
X_train = train[['fever','bodyPain','age', 'runnyNose', 'diffBreath']].to_numpy()

In [15]:
X_train

array([[100.4956925 ,   0.        ,   6.        ,   1.        ,
          0.        ],
       [101.4416235 ,   1.        ,  61.        ,   1.        ,
          1.        ],
       [100.6480593 ,   0.        ,   9.        ,   0.        ,
         -1.        ],
       ...,
       [ 99.53479438,   0.        ,  43.        ,   1.        ,
          0.        ],
       [ 99.40164436,   1.        ,  20.        ,   0.        ,
          1.        ],
       [101.3959606 ,   1.        ,  11.        ,   0.        ,
         -1.        ]])

In [16]:
X_train = train[['fever','bodyPain','age', 'runnyNose', 'diffBreath']].to_numpy()
X_test = test[['fever','bodyPain','age', 'runnyNose', 'diffBreath']].to_numpy()

In [17]:
Y_train = train[['infectionProb']].to_numpy().reshape(2040,)
Y_test = test[['infectionProb']].to_numpy().reshape(509 )

In [18]:
Y_train

array([0, 1, 0, ..., 1, 0, 0], dtype=int64)

In [19]:
from sklearn.linear_model import LogisticRegression

In [20]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
inputFeatures=[110,1,22,-1,1]
infProb=clf.predict_proba([inputFeatures])[0][1]

In [24]:
infProb

0.49402809843416673